*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: lightgrey;
}
.container{
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.container .a{
    margin-right: 50px;
    font-size: larger;
}

.container .twitter .fab{
    color: rgb(29, 161, 242);
    margin-bottom: 20px;
}

.container .facebook .fab{
    color: blue;
    margin-bottom: 20px;
}

.container .youtube .fab{
    color : #FF0000;
    margin-bottom: 20px;
}

.container .counter{
    margin-bottom: 10px;
}

.counter{
    font-size: 50px;
}